{
  "version": "2018-05-29",
  "payload": {
    "crawlerType": "$context.arguments.input.crawlerType",
    "startId": $context.arguments.input.startId,
    "endId": $context.arguments.input.endId,
    "itemsFetched": $context.arguments.input.itemsFetched,
    "totalProcessed": $context.arguments.input.totalProcessed,
    "completedAt": "$util.time.nowISO8601()",
    "success": $context.arguments.input.success,
    "errorMessage": $util.toJson($util.defaultIfNull($context.arguments.input.errorMessage, null))
  }
}
