{
  "version": "2018-05-29",
  "payload": {
    "crawlerType": "$context.arguments.input.crawlerType",
    "startId": $context.arguments.input.startId,
    "endId": $context.arguments.input.endId,
    "itemsFetched": $context.arguments.input.itemsFetched,
    "totalProcessed": $context.arguments.input.totalProcessed,
    "completedAt": "$util.time.nowISO8601()"
  }
}
