{
  "version": "2018-05-29",
  "payload": {
    "organisation": "${context.arguments.input.organisation}",
    "entity": "${context.arguments.input.entity}",
    "itemsFetched": ${context.arguments.input.itemsFetched},
    "lastProcessedId": ${context.arguments.input.lastProcessedId},
    "totalProcessed": ${context.arguments.input.totalProcessed},
    "updatedAt": "${context.arguments.input.updatedAt}"
  }
}
