{
  "version": "2018-05-29",
  "operation": "Invoke",
  "payload": {
    "field": "repoCrawler",
    "crawlerType": "repo",
    "timePeriodHours": $util.defaultIfNull($context.arguments.timePeriodHours, 1)
  }
}
