#if($ctx.error)
    $util.error($ctx.error.message, $ctx.error.type)
#end

#set($items = [])
#foreach($item in $ctx.result.items)
    #set($data = {})
    #foreach($entry in $item.entrySet())
        #if($entry.key == "created_at")
            $util.qr($data.put("createdAt", $entry.value))
        #elseif($entry.key == "metric_type")
            $util.qr($data.put("metricType", $entry.value))
        #elseif($entry.key == "total_retrieval")
            $util.qr($data.put("totalRetrieval", $entry.value))
        #elseif($entry.key == "avg_retrieval")
            $util.qr($data.put("avgRetrieval", $entry.value))
        #elseif($entry.key == "min_retrieval")
            $util.qr($data.put("minRetrieval", $entry.value))
        #elseif($entry.key == "max_retrieval")
            $util.qr($data.put("maxRetrieval", $entry.value))
        #elseif($entry.key == "error_count")
            $util.qr($data.put("errorCount", $entry.value))
        #elseif($entry.key == "error_rate")
            $util.qr($data.put("errorRate", $entry.value))
        #elseif($entry.key == "total_duration")
            $util.qr($data.put("totalDuration", $entry.value))
        #elseif($entry.key == "avg_duration")
            $util.qr($data.put("avgDuration", $entry.value))
        #elseif($entry.key == "total_size")
            $util.qr($data.put("totalSize", $entry.value))
        #elseif($entry.key == "total_items")
            $util.qr($data.put("totalItems", $entry.value))
        #elseif($entry.key == "min_duration")
            $util.qr($data.put("minDuration", $entry.value))
        #elseif($entry.key == "max_duration")
            $util.qr($data.put("maxDuration", $entry.value))
        #elseif($entry.key == "total_billed_duration")
            $util.qr($data.put("totalBilledDuration", $entry.value))
        #elseif($entry.key == "avg_billed_duration")
            $util.qr($data.put("avgBilledDuration", $entry.value))
        #elseif($entry.key == "avg_memory_used")
            $util.qr($data.put("avgMemoryUsed", $entry.value))
        #elseif($entry.key == "max_memory_used")
            $util.qr($data.put("maxMemoryUsed", $entry.value))
        #elseif($entry.key == "min_memory_used")
            $util.qr($data.put("minMemoryUsed", $entry.value))
        #elseif($entry.key == "memory_size")
            $util.qr($data.put("memorySize", $entry.value))
        #elseif($entry.key == "cold_starts")
            $util.qr($data.put("coldStarts", $entry.value))
        #elseif($entry.key == "cold_start_rate")
            $util.qr($data.put("coldStartRate", $entry.value))
        #elseif($entry.key == "avg_init_duration")
            $util.qr($data.put("avgInitDuration", $entry.value))
        #elseif($entry.key == "max_init_duration")
            $util.qr($data.put("maxInitDuration", $entry.value))
        #else
            $util.qr($data.put($entry.key, $entry.value))
        #end
    #end
    $util.qr($items.add($data))
#end

$util.toJson($items)
