{
    "version" : "2018-05-29",
    "operation" : "Query",
    "index" : "RunIdIndex",
    "query" : {
        "expression" : "run_id = :run_id",
        "expressionValues" : {
            ":run_id" : $util.dynamodb.toDynamoDBJson($ctx.args.run_id)
        }
    },
    "filter": {
        "expression": "begins_with(PK, :pk_prefix)",
        "expressionValues": {
            ":pk_prefix": $util.dynamodb.toDynamoDBJson("REQ#")
        }
    }
}
