{
    "version": "2017-02-28",
    "operation": "GetItem",
    "key": {
        "PK": $util.dynamodb.toDynamoDBJson("BOOKMARK#${context.arguments.organisation}#${context.arguments.entity}"),
        "SK": $util.dynamodb.toDynamoDBJson("CURRENT")
    }
}
