{
    "version" : "2018-05-29",
    "operation" : "Query",
    "query" : {
        "expression" : "PK = :pk AND SK BETWEEN :start AND :end",
        "expressionValues" : {
            ":pk" : $util.dynamodb.toDynamoDBJson("AGG#${ctx.args.crawler_type}#${ctx.args.metric_type}"),
            ":start" : $util.dynamodb.toDynamoDBJson($ctx.args.startHour),
            ":end" : $util.dynamodb.toDynamoDBJson($ctx.args.endHour)
        }
    }
}
